// Author: Preston Lee

.clipboard-manager {
  .form-floating > label {
    overflow: visible;
    text-overflow: unset;
    white-space: nowrap;
  }

  .clipboard-manager-item {
    &:hover {
      background-color: rgba(0, 0, 0, 0.02);
    }
  }

  .dropdown-item label {
    cursor: pointer;
  }

  .clipboard-item-json-viewer {
    overflow-x: hidden;
    overflow-y: auto;

    app-syntax-highlighter {
      display: block;
      max-width: 100%;
    }

    app-syntax-highlighter ::ng-deep .syntax-highlighter,
    app-syntax-highlighter ::ng-deep .syntax-highlighter code {
      overflow-x: hidden;
      white-space: pre-wrap;
      word-break: break-word;
      max-width: 100%;
    }
  }
}
