.input-group .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.alert ul {
  margin-bottom: 0;
}

.alert li {
  margin-bottom: 0.25rem;
}