// Import color variables
@use 'app/styles/_colors' as colors;

// Import PrismJS theme overrides
@use 'app/styles/prism-theme';

body:has([data-bs-theme=light]) {
  background: url("/images/textures/crossword.png") repeat;
}

body:has([data-bs-theme=dark]) {
  background: url("/images/textures/binding_dark.png") repeat;
}

// Ensure icons are not italicized
i[class*="bi-"],
.icon,
[class*="bi-"] {
  font-style: normal !important;
}