<div class="editor-tabs d-flex align-items-center bg-dark border-dark border-bottom">
  <div 
    *ngFor="let library of libraryResources(); trackBy: trackByLibraryId; let i = index"
    class="editor-tab d-flex align-items-center px-3 py-2 border-end border-dark cursor-pointer"
    [class.active]="library.id === activeLibraryId()"
    [class.dirty]="library.isDirty"
    (click)="onSelectLibrary(library.id)"
    draggable="true"
    (dragstart)="onTabDragStart($event, library.id)"
    (dragover)="onTabDragOver($event)"
    (drop)="onTabDrop($event)"
  >
    <span class="me-2">{{ library.name }}</span>
    <button 
      class="btn-close btn-close-white btn-sm" 
      (click)="onCloseLibrary(library.id, $event)"
      title="Close tab"
    ></button>
  </div>
</div>
